<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Menu</h2>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "Trang chủ", "", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Danh sách phim", "", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Rạp chiếu", "", class: "nav-link" %>
    </li>
  </ul>
</aside>
