<div class="footer">
  <div class="footer-box">
    <div class="cinema">
      <p class="title">cụm rạp</p>
      <ul class="list-unstyled" style="float: left;">
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-empire.htm">Beta Cinemas Empire Bình Dương - Hotline 0934 573 748 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-cinemas-quang-trung-khai-truong-dau-nam-2021.htm">Beta Cinemas Quang Trung, tp Hồ
            Chí Minh - Hotline 0369 465 730 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-cinemas-giai-phong.htm">Beta Cinemas Giải Phóng, Hà Nội - Hotline 0585 680
            360 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-thanh-xuan.htm">Beta Cinemas Thanh Xuân, Hà Nội - Hotline 082 4812878 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/rap-my-dinh.htm">Beta Cinemas Mỹ Đình, Hà Nội - Hotline 0866 154 610</a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/rap-dan-phuong.htm">Beta Cinemas Đan Phượng, Hà Nội - Hotline 0983 901 714 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-thai-nguyen.htm">Beta Cinemas Thái Nguyên - Hotline 0867 460 053</a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-thanh-hoa.htm">Beta Cinemas Thanh Hóa - Hotline 0325 360 249</a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-bac-giang.htm">Beta Cinemas Bắc Giang - Hotline 0866 493 413</a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-nha-trang.htm">Beta Cinemas Nha Trang, Khánh Hòa - Hotline 0399 475 165</a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-bien-hoa.htm">Beta Cinemas Biên Hòa, Đồng Nai - Hotline 0908 360 537</a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-cinemas-long-khanh.htm">Beta Cinemas Long Khánh, Đồng Nai - Hotline
            0925165684 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-cinemas-long-thanh.htm">Beta Cinemas Long Thành, Đồng Nai - Hotline 0927 168
            911 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-cinex-phu-my.htm">Beta Cinemas Phú Mỹ, Bà Riạ Vũng Tàu - Hotline 0886 006
            310 </a></li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-ho-tram.htm">Beta Cinemas Hồ Tràm, Bà Rịa Vũng Tàu - Hotline 0254 3788601 </a>
        </li>
        <li><i class="fa fa-angle-right"></i>
          <a href="/thong-tin-rap/beta-tan-uyen.htm">Beta Cinemas Tân Uyên, Bình Dương - Hotline 0937 905 925 </a></li>
        <li><i class="fa fa-angle-right"></i> <a href="http://onelink.to/zmb6dp">Tải Ứng Dụng Beta Cinemas</a></li>
      </ul>
    </div>

    <div class="contract">
      <p class="title">Liên hệ</p>
      <div style="float: left;">
        <h4 class="no-margin">CÔNG TY CỔ PHẦN BETA MEDIA</h4>
        <h6>
          Giấy chứng nhận ĐKKD số: 0106633482 - Đăng ký lần đầu ngày 08/09/2014 tại Sở Kế hoạch và Đầu tư Thành phố Hà
          Nội
        </h6>
        <h6>Địa chỉ trụ sở: Tầng 3, số 595, đường Giải Phóng, phường Giáp Bát, quận Hoàng Mai, thành phố Hà Nội</h6>
        <p>
        </p><h6>Hotline: 1900 636807</h6>
        <p>
        </p><h6>Email: cskh@betacorp.vn</h6>
        <p>
        </p><h4><strong>Liên hệ hợp tác kinh doanh:</strong></h4>
        <h4>phuonganh@gmail.com</h4>
        <p></p>
      </div>
    </div>
  </div>
</div>
