<aside class="sidebar">
  <div class="sidebar-header">
    <h2>Màn hình quản lý</h2>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <%= link_to "Trang chủ", "", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Danh sách phim", admins_movies_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Rạp chiếu", admins_movie_theaters_path, class: "nav-link" %>
    </li>
  </ul>
</aside>
