
.main{
	margin-top: 100px;
}

.header {
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: white;
	z-index: 9999;

	.header-top {
		background: black;
		height:30px;
		&__box {
			width: 1200px;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 100%;
			margin: 0 auto;
			
			a{
				color: white !important
			}

			&__border{
				margin: 0 5px;
				color: white
			}

		}
	}

	.header-bottom {
		&__box {
			width: 1200px;
			display: flex;
			justify-content:space-between;
			align-items: center;
			margin: 0 auto;
			padding: 20px 0px;

			.logo{

			}

			.nav-menu{
				display: flex;
				list-style: none;
				gap: 20px;

				.nav-item{
					a{
						text-transform: uppercase;
						font-size: 22px;
						font-weight: 500;
						color: black;
						
						&:hover{
							color:cornflowerblue;
						}
					}
				}
			}

		}
	}
}

.footer{
	padding: 20px;
	border-top: 2px solid gray;
	&-box{
		width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		.logo{
			width: 120px;
			img{
				width: 100%;
			}
		}
		.cinema{
			.title {
				color: black;
				font-size: 22px;
				padding-bottom: 10px;
				font-weight: 500;
				text-transform: uppercase;
				text-align: left !important;
			}

			a{
				color: black;
				&:hover{
					color: cornflowerblue;
				}
			}
		}
		.social{
			.title {
				color: black;
				font-size: 22px;
				padding-bottom: 10px;
				font-weight: 500;
				text-transform: uppercase;
				text-align: left !important;
			}
		}
		.contract{
			width: 250px;
			.title {
				color: black;
				font-size: 22px;
				padding-bottom: 10px;
				font-weight: 500;
				text-transform: uppercase;
				text-align: left !important;
			}
		}
	}
}