/* styles.css (hoặc tệp CSS tùy chỉnh của bạn) */

.sidebar {
  width: 250px; /* Độ rộng của sidebar */
  background-color: #333; /* Màu nền */
  color: #fff; /* Màu chữ */
  padding: 20px;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.sidebar h2 {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  color: #fff; /* Màu chữ menu */
  text-decoration: none;
  padding: 10px 0;
  display: block;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #555; /* Màu nền khi hover */
}

.nav-item {
  margin-bottom: 10px;
}
