<div class="header">
	<div class="header-top">
		<div class="header-top__box">
			<a>Đăng nhập</a>
			<div class="header-top__box__border">|</div> 
			<a>Đăng ký</a>	
		</div>
	</div>
	<div class="header-bottom">
		<div class="header-bottom__box">
			<img class="logo" src="https://www.betacinemas.vn/Assets/Common/logo/logo.png" alt="logo"/>
			<ul class="nav-menu">
				<li class="nav-item"><a>Lịch Chiếu Phim</a></li>
				<li class="nav-item"><a>Phim</a></li>
				<li class="nav-item"><a>Giá Vé</a></li>
				<li class="nav-item"><a>Tin mới và ưu đãi</a></li>
			</ul>
		</div>
	</div>
</div>